* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  color: white;
  background: #518a58;
  font-family: monospace;
  transition: background 0.5s;
}
.container {
  text-align: center;
  width: 330px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.159);
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.pages div {
  cursor: pointer;
}
.active {
  padding: 2px 10px;
  border-radius: 5px;
  transition: background 0.5s;
  background: #548059;
}
.time {
  margin: 10px 0;
  font-size: 80px;
  font-weight: 900;
}
.start {
  cursor: pointer;
  padding: 9px 40px;
  border-radius: 10px;
  background: #fff;
  width: fit-content;
  margin: 0 auto;
  color: #518a58;
  font-weight: 900;
  border-bottom: 5px solid rgb(201, 201, 201);
}
.btns {
  display: flex;
}
.hidden {
  display: none;
}
.style {
  cursor: pointer;
  padding: 9px 40px;
  border-radius: 10px;
  background: #fff;
  width: fit-content;
  margin: 0 auto;
  color: #518a58;
  font-weight: 900;
  border-bottom: 5px solid rgb(201, 201, 201);
}
.header {
  width: 460px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.working {
  display: flex;
  gap: 7px;
}
.logo {
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo img {
  width: 12px;
}
.working img {
  width: 12px;
}
.padding {
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  padding: 5px 7px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  font-weight: 600;
  background: #ffffff22;
}
.settings_modal {
  background: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 3;
  top: 10px;
  right: -400px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: right 0.2s;
  color: #423b3b;
}
.settings_modal h2 {
  font-size: 13px;
}
.tog {
  right: 5px;
}
.close_btn {
  cursor: pointer;
}
.colors {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.colors2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.green {
  background: #518a58;
}
.red {
  background: #ba4949;
}
.blue {
  background: #38858a;
}
.dark {
  background: #545764;
}
.sized {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.full {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.label {
  height: 23px;
  width: 45px;
  background-color: #818181;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s;
}
#checkbox {
  display: none;
}

#checkbox:checked ~ .label::before {
  left: 22px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  left: 3px;
  transition: 0.4s;
}
.timer {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: start;
}
.timer input {
  width: 60px;
  height: 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px;
}
.timer p {
  font-size: 10px;
  font-weight: 600;
}
.exit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}